- var node = 'by'
- var js = 'jscript'
html
    head
        title= title
        link(res='stylesheet', href='/stylesheets/style.css')

    body
        include header
        div#login-button
        | ho
        p.testing.full
        | hihi
        | #{node}
        | #{js}
    ul
        each item in [`1`, `2`, `3`]
            if(item % 2 == 1)
                li= item
    include footer